
.course-in:hover{
    box-shadow: rgb(0 0 0 / 19%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 0px 20px 4px!important;
    color: goldenrod;
}

.course-container img {
    border-radius: 30px;
    transition: transform .5s;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.course-container img:hover{
    transform: scale(1.08);
}
i{
    color: goldenrod;
}