.header-row{
    padding: 20px;
    border-bottom: 1px solid #80808024;
}
.header-link {
    padding: 10px 0;
}
li{
    margin: 5px;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin: 0 20px;
}
li a{
    text-decoration: none;
    color: gray;
}