.header-row{
    border-bottom: 1px solid #80808024;
}
.header-link {
    padding: 10px 0;
}
.header-row nav ul li{
    margin: 5px;
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin: 0 20px;
}
.header-row nav ul li a{
    text-decoration: none;
    color: gray!important;
}
.header-row ul{
    margin: 0;
}