.footer-container{
    background: #9598bb;
}

.footer-container nav ul li{
    margin: 5px;
    list-style: none;
    text-decoration: none;
    margin: 20px;
}
.footer-container nav ul li a{
    text-decoration: none;
    border-bottom: 4px solid transparent;
    color: rgba(0, 0, 0, 0.589);
    font-weight: bold;
}
.footer-top-container nav ul li a:hover{
    border-bottom: 4px solid #ffc107;
    color: #ffc107;
}
.logo{
    border: 4px solid #ffc107;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}